<h1 class="tracking-tight text-2xl text-blue-500 font-semibold">Organization Members <%= org.display_name %></h1>

<div class="mt-5">
  <%=
    link_to 'Add new member', '#', class: 'bg-blue-500 hover:bg-blue-600 text-white rounded py-2 px-4 border border-black border-opacity-25'
  %>
</div>

<%= render partial: 'shared/alerts' %>

<div class="mt-5">
  <div class="rounded-t-md overflow-hidden">
    <table class="min-w-full table-auto border-collapse border-blue-500 border-b-4 text-sm rounded-t-md">
      <thead class="bg-blue-500 text-white text-left">
        <tr>
          <th class="py-2 px-2">No</th>
          <th class="py-2 px-2">Name</th>
          <th class="py-2 px-2">Role</th>
          <th class="py-2 px-2">Created at</th>
          <th class="py-2 px-2">Updated at</th>
          <th class="py-2 px-2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% if org_members.empty? %>
        <tr>
          <td class="border px-4 py-2 text-center" colspan="8">
            <span class="text-gray-700">The organization does not have any members yet</span>
          </td>
        </tr>
        <% end %>
        
        <% org_members.each_with_index do |o, i| %>
        <tr>
          <td class="border px-4 py-2"><%= i + 1 %></td>
          <td class="border px-4 py-2"><%= o.profile.name %></td>
          <td class="border px-4 py-2"><%= o.org_member_role.name %> </td>
          <td class="border px-4 py-2"><%= o.created_at %></td>
          <td class="border px-4 py-2"><%= o.updated_at %></td>
          <td class="border px-4 py-2">
            <div class="flex">
              <%= form_for :org_member, Main.routes.remove_members_org_path(org.id, o.id), method: :delete, id: "#{o.id}-form-remove-org-member" do
                  submit 'Remove', id: "#{o.id}-remove-org-member", class: 'bg-red-500 hover:bg-red-600 text-white rounded py-2 px-4 ml-2  border border-black border-opacity-25', onclick: "return confirm('Are you sure?')"
              end %>
              <%# link_to 'Remove', Main.routes.remove_members_org_path(org.id, o.id), class: 'hover:bg-blue-600 bg-blue-500 rounded text-white py-2 px-4  border border-black border-opacity-25', id: "#{o.id}-members-org" %>
              <%= link_to 'Set as Admin', '#', class: 'ml-2 hover:bg-blue-600 bg-blue-500 rounded text-white py-2 px-4  border border-black border-opacity-25', id: "#{o.id}-edit-org" %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>