<h1 class="tracking-tight text-2xl text-blue-500 font-semibold">POS <%= pos_session.profile.name %></h1>

<p>Date: <%= Time.now.strftime('%Y/%m/%d') %></p>
<p>Transaction ID: <%= open_trx.trx_id %></p>
<p>Cashier name: <%= pos_session.profile.name %></p>


<h3>List of items</h3>

<div class="mt-5">
  <div class="rounded-t-md overflow-hidden">
    <table class="min-w-full table-auto border-collapse border-blue-500 border-b-4 text-sm rounded-t-md">
      <thead class="bg-blue-500 text-white text-left">
        <tr>
          <th class="py-2 px-2">No</th>
          <th class="py-2 px-2">SKU</th>
          <th class="py-2 px-2">Name</th>
          <th class="py-2 px-2">Price</th>
          <th class="py-2 px-2">Qty</th>
          <th class="py-2 px-2">Subtotal</th>
        </tr>
      </thead>

      <tbody>
        <% open_trx_items.each_with_index do |oti, i| %>
        <tr>
          <td class="border px-4 py-2"><%= i + 1 %></td>
          <td class="border px-4 py-2"><%= oti.product.sku %></td>
          <td class="border px-4 py-2"><%= oti.product.name %></td>
          <td class="border px-4 py-2"><%= oti.price %></td>
          <td class="border px-4 py-2">Should be input field here</td>
          <td class="border px-4 py-2">Should be auto calculate</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
