<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet 'https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' %>
    <%= javascript 'https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js' %>
    <title>Atthar</title>
    <%= favicon %>
  </head>
  <body>
    <div class="flex h-screen">
      <sidebar class="fixed bg-blue-500 text-white w-64 z-30 inset-y-0 left-0 lg:static">
        <header class="flex items-center justify-center m-8">
          <div class="flex items-center">
            <div class="border-white border-4 rounded-full py-3 px-6">
              <%= 
                link_to routes.root_path do
                  span('Atthar', class: 'text-2xl font-bold')
                end
              %>
            </div>
          </div>        
        </header>

        <nav class="mt-10">
          <%= link_to '#', class: 'flex items-center text-md font-semibold mt-5 px-6 hover:text-blue-200' do
            span do
              i 'data-feather' => 'package'
            end

            span class: 'ml-2' do
              'Products'
            end
          end %>
          <%= link_to '#', class: 'flex items-center text-md font-semibold mt-5 px-6 hover:text-blue-200' do
            span do
              i 'data-feather' => 'globe'
            end

            span class: 'ml-2' do
              'My Organizations'
            end
          end %>

          
          <% if current_user.superadmin %>
          <%= link_to Admin.routes.root_path, class: 'flex items-center text-md font-semibold mt-5 px-6 hover:text-blue-200' do
            span do
              i 'data-feather' => 'user-check'
            end

            span class: 'ml-2' do
              'Admin Page'
            end
          end %>  
          <% end %>

          <%= link_to '#', class: 'flex items-center text-md font-semibold mt-5 px-6 hover:text-blue-200' do
            span do
              i 'data-feather' => 'settings'
            end

            span class: 'ml-2' do
              'User Settings'
            end
          end %>

          <%= link_to '/', class: 'flex items-center text-md font-semibold mt-5 px-6 hover:text-blue-200' do
            span do
              i 'data-feather' => 'home'
            end

            span class: 'ml-2' do
              'Home Page'
            end
          end %>
          
          <%= form_for :session, Main.routes.sign_out_path, method: :delete do
            submit class: 'flex items-center text-md font-semibold mt-5 px-6 hover:text-blue-200' do
              span do
                i 'data-feather' => 'log-out'
              end

              span class: 'ml-2' do
                'Sign Out'
              end
            end
          end %>
        </nav>
      </sidebar>

      <main class="flex-1 flex flex-col overflow-hidden">
        <header class="flex justify-between items-center px-4 py-6 border-b-4 border-blue-500 bg-gray-900 text-white">
          <div class="flex items-center">
            search bar
          </div>

          <div class="flex items-center">
            profile toggle
          </div>
        </header>

        <content class="flex-1 overflow-x-hidden overflow-y-auto">
          <div class="container mx-auto px-6 py-8">
            <%= yield %>
          </div>
        </content>
      </main>
    </div>

    <script>
      feather.replace();
    </script>    
  </body>
</html>
