<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet 'https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' %>
    <title>Atthar</title>
    <%= favicon %>
  </head>
  <body>
    <nav class="flex items-center justify-between flex-wrap p-6">
      <div class="flex items-center flex-shrink-0 mr-6 text-blue-500 hover:text-blue-400">
        <%=
          link_to routes.root_path do
            span('Atthar Corp', class: 'font-bold text-2xl text-xl tracking-tight')
          end
        %>
      </div>

      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-none">
          <a href="#documents" class="block mt-4 lg:inline-block lg:mt-0 text-blue-500 hover:text-blue-400 mr-4 font-semibold">Documents</a>
        </div>

        <div class="text-sm lg:flex-none">
          <a href="#about" class="block mt-4 lg:inline-block lg:mt-0 text-blue-500 hover:text-blue-400 mr-4 font-semibold">About</a>
        </div>
      </div>

      <div class="w-full block flex-none lg:flex lg:items-center lg:w-auto">
        <% if current_user.nil? %>
          <div class="flex-none">
            <a href="#login" class="mr-2 lg:inline-block text-sm px-4 py-2 leading-none border rounded text-blue-500 border-blue-500 hover:border-blue-500 hover:text-white hover:bg-blue-500 mt-4 lg:mt-0 font-bold">Login</a>
          </div>
        <% end %>

        <% if current_user %>
          <div class="flex-none">
            <%= sign_out_link %>
          </div>  
        <% end %>
      </div>
    </nav>
  
    <div class="container mx-auto lg:px-20 my-4">
      <%= yield %>
    </div>
  </body>
</html>
